.App {
  text-align: center;
}

.App .Title {
  font-size: 150%;
}

.App .List {
  background-color: #353b48;
  color: white;
  padding: 12px;
  list-style-type: none;
}

.App .Numbers {
  padding: 12px;
}